In [ ]:
import json                   # to convert API to json format

from urllib.parse import urlencode

import requests               # to get the webpage
from bs4 import BeautifulSoup # to parse the webpage

import pandas as pd
import re                     # regular expression operators

from datetime import datetime

In [ ]:
required_city = "Chennai"
location_url = 'https://locator-service.api.bbci.co.uk/locations?' + urlencode({
   'api_key': 'AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv',
   's': required_city,
   'stack': 'aws',
   'locale': 'en',
   'filter': 'international',
   'place-types': 'settlement,airport,district',
   'order': 'importance',
   'a': 'true',
   'format': 'json'
})
location_url

'https://locator-service.api.bbci.co.uk/locations?api_key=AGbFAKx58hyjQScCXIYrxuEwJh2W2cmv&s=Chennai&stack=aws&locale=en&filter=international&place-types=settlement%2Cairport%2Cdistrict&order=importance&a=true&format=json'

In [ ]:
result = requests.get(location_url).json()
result

{'response': {'results': {'results': [{'id': '1264527',
     'name': 'Chennai',
     'container': 'India',
     'containerId': 1269750,
     'language': 'en',
     'timezone': 'Asia/Kolkata',
     'country': 'IN',
     'latitude': 13.08784,
     'longitude': 80.27847,
     'placeType': 'settlement'},
    {'id': '6301127',
     'name': 'Chennai International Airport',
     'container': 'India',
     'containerId': 1269750,
     'language': 'en',
     'timezone': 'Asia/Kolkata',
     'country': 'IN',
     'latitude': 12.98833,
     'longitude': 80.16578,
     'placeType': 'airport'}],
   'totalResults': 2}}}

In [ ]:
# url      = 'https://www.bbc.com/weather/1275339' # url to BBC weather, corresponding to a specific city (Mumbai, in this example)
url      = 'https://www.bbc.com/weather/'+result['response']['results']['results'][0]['id']
response = requests.get(url)

In [ ]:
soup = BeautifulSoup(response.content,'html.parser')

In [ ]:
daily_high_values = soup.find_all('span', attrs={'class': 'wr-day-temperature__high-value'}) # block-type: span; identifier type: class; and class name: wr-day-temperature__high-value 
daily_high_values

[<span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">33°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">92°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">34°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">93°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">94°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">95°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">94°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">34°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">93°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">34°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">94°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">95°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">34°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">94°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">95°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">95°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">35°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">94°</span></span></span>,
 <span class="wr-day-temperature__high-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">34°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">94°</span></span></span>]

In [ ]:
daily_low_values  = soup.find_all('span', attrs={'class': 'wr-day-temperature__low-value'})
daily_low_values

[<span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">79°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">26°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">78°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">77°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">25°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">24°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>,
 <span class="wr-day-temperature__low-value"><span class="wr-value--temperature "><span class="wr-value--temperature--c">24°</span><span class="wr-hide"> </span><span class="wr-value--temperature--f">76°</span></span></span>]

In [ ]:
daily_summary = soup.find('div', attrs={'class': 'wr-day-summary'})
daily_summary

<div class="wr-day-summary"><div class="gel-wrap"><span class="">Light rain showers and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Sunny intervals and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Light cloud and light winds</span><span class="wr-hide">Sunny intervals and light winds</span><span class="wr-hide">Sunny intervals and light winds</span><span class="wr-hide">Sunny intervals and light winds</span><span class="wr-hide">Sunny intervals and light winds</span></div></div>

In [ ]:
daily_summary.text

'Light rain showers and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsSunny intervals and light windsLight cloud and light windsLight cloud and light windsSunny intervals and light windsSunny intervals and light windsSunny intervals and light windsSunny intervals and light winds'

In [ ]:
daily_high_values[0].text.strip()

'33° 92°'

In [ ]:
daily_high_values_list = [daily_high_values[i].text.strip().split()[0] for i in range(len(daily_high_values))]
daily_high_values_list

['33°',
 '34°',
 '35°',
 '35°',
 '35°',
 '34°',
 '34°',
 '35°',
 '34°',
 '35°',
 '35°',
 '35°',
 '34°']

In [ ]:
daily_low_values_list = [daily_low_values[i].text.strip().split()[0] for i in range(len(daily_low_values))]
daily_low_values_list

['26°',
 '25°',
 '25°',
 '25°',
 '25°',
 '26°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '25°',
 '24°',
 '24°']

In [ ]:
daily_summary.text

'Light rain showers and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsLight cloud and light windsSunny intervals and light windsLight cloud and light windsLight cloud and light windsSunny intervals and light windsSunny intervals and light windsSunny intervals and light windsSunny intervals and light winds'

In [ ]:
daily_summary_list = re.findall('[a-zA-Z][^A-Z]*', daily_summary.text) #split the string on uppercase
daily_summary_list

['Light rain showers and light winds',
 'Light cloud and light winds',
 'Light cloud and light winds',
 'Light cloud and light winds',
 'Light cloud and light winds',
 'Light cloud and light winds',
 'Light cloud and light winds',
 'Sunny intervals and light winds',
 'Light cloud and light winds',
 'Light cloud and light winds',
 'Sunny intervals and light winds',
 'Sunny intervals and light winds',
 'Sunny intervals and light winds',
 'Sunny intervals and light winds']

In [ ]:
datelist = pd.date_range(datetime.today(), periods=len(daily_high_values)).tolist()
datelist

[Timestamp('2022-09-14 19:56:41.584058', freq='D'),
 Timestamp('2022-09-15 19:56:41.584058', freq='D'),
 Timestamp('2022-09-16 19:56:41.584058', freq='D'),
 Timestamp('2022-09-17 19:56:41.584058', freq='D'),
 Timestamp('2022-09-18 19:56:41.584058', freq='D'),
 Timestamp('2022-09-19 19:56:41.584058', freq='D'),
 Timestamp('2022-09-20 19:56:41.584058', freq='D'),
 Timestamp('2022-09-21 19:56:41.584058', freq='D'),
 Timestamp('2022-09-22 19:56:41.584058', freq='D'),
 Timestamp('2022-09-23 19:56:41.584058', freq='D'),
 Timestamp('2022-09-24 19:56:41.584058', freq='D'),
 Timestamp('2022-09-25 19:56:41.584058', freq='D'),
 Timestamp('2022-09-26 19:56:41.584058', freq='D')]

In [ ]:
datelist = [datelist[i].date().strftime('%y-%m-%d') for i in range(len(datelist))]
datelist

['22-09-14',
 '22-09-15',
 '22-09-16',
 '22-09-17',
 '22-09-18',
 '22-09-19',
 '22-09-20',
 '22-09-21',
 '22-09-22',
 '22-09-23',
 '22-09-24',
 '22-09-25',
 '22-09-26']

In [ ]:
zipped = zip(datelist, daily_high_values_list, daily_low_values_list, daily_summary_list)

In [ ]:
df = pd.DataFrame(list(zipped), columns=['Date', 'High','Low', 'Summary'])

In [ ]:
display(df)

        Date High  Low                             Summary
0   22-09-14  33°  26°  Light rain showers and light winds
1   22-09-15  34°  25°         Light cloud and light winds
2   22-09-16  35°  25°         Light cloud and light winds
3   22-09-17  35°  25°         Light cloud and light winds
4   22-09-18  35°  25°         Light cloud and light winds
5   22-09-19  34°  26°         Light cloud and light winds
6   22-09-20  34°  25°         Light cloud and light winds
7   22-09-21  35°  25°     Sunny intervals and light winds
8   22-09-22  34°  25°         Light cloud and light winds
9   22-09-23  35°  25°         Light cloud and light winds
10  22-09-24  35°  25°     Sunny intervals and light winds
11  22-09-25  35°  25°     Sunny intervals and light winds
12  22-09-26  34°  24°     Sunny intervals and light winds

In [ ]:
# remove the 'degree' character
df.High = df.High.replace('\°','',regex=True).astype(float)
df.Low  = df.Low.replace('\°','',regex=True).astype(float)

In [ ]:
display(df)

        Date  High   Low                             Summary
0   22-09-14  33.0  26.0  Light rain showers and light winds
1   22-09-15  34.0  25.0         Light cloud and light winds
2   22-09-16  35.0  25.0         Light cloud and light winds
3   22-09-17  35.0  25.0         Light cloud and light winds
4   22-09-18  35.0  25.0         Light cloud and light winds
5   22-09-19  34.0  26.0         Light cloud and light winds
6   22-09-20  34.0  25.0         Light cloud and light winds
7   22-09-21  35.0  25.0     Sunny intervals and light winds
8   22-09-22  34.0  25.0         Light cloud and light winds
9   22-09-23  35.0  25.0         Light cloud and light winds
10  22-09-24  35.0  25.0     Sunny intervals and light winds
11  22-09-25  35.0  25.0     Sunny intervals and light winds
12  22-09-26  34.0  24.0     Sunny intervals and light winds

In [ ]:
#location = soup.find('div', attrs={'class':'wr-c-location'})
location = soup.find('h1', attrs={'id':'wr-location-name-id'})
location.text.split()

['Chennai', '-', 'Weather', 'warnings', 'issued']

In [ ]:
# create a recording
filename_csv = location.text.split()[0]+'.csv'
df.to_csv(filename_csv, index=None)

In [ ]:
filename_xlsx = location.text.split()[0]+'.xlsx'
df.to_excel(filename_xlsx)